@import '~mdb-ui-kit/css/mdb.min.css';

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(240, 237, 227);
}

header {
  border: none;
}

main {
  height: 100%;
  width: 100%;
  /* position: relative; */
}

main > p {
  padding-left: 3%;
  padding-right: 3%;
  text-indent: 30px;
  margin-top: 2%;
}

footer {
  /* height: 50px; */
  text-align: right;
  background: rgba(255, 255, 255, 0.253);
  font-size: .5rem;
  padding-right: 1rem;
}

.navbar {
  background: rgba(255, 255, 255, 0.644);
  z-index: 10;
  position: absolute;
  width: 100%;
}

.navtitle {
  float: left;
  font-size: 2rem;
  margin-left: 2%;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px #69696967;
}

.navlink {
  margin-right: 2%;
}

.link {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.slideimg {
  background-position: center center;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.image-container > img {
  width: 100%;
}

.sortsearch {
  text-align: right;
  padding: 3px;
  margin-right: .2rem;
  color: black;
  z-index: -10;
}

.searchinp {
  font-size: .8rem;
  height: 25px;
  position: relative;
  top: 0px;
  right: 6px;
}

.searchdrop {
height: 25px;
font-size: .8rem;
}

.tocenter {
  text-align: center;
  margin: 0;
}

.button {
  background: white;
  border-radius: 6px;
  border: none;
}

.modal {
  background: rgba(0, 0, 0, 0.137);
}

.loginform {
  margin: auto;
  text-align: center;
  /* padding: 1vh; */
  padding: 3rem;
  width:100%;
  height: 95%;
  background: rgb(196, 197, 150);
  /* border: solid 7px rgba(0, 0, 0, 0.336); */
  border-radius: 5px;
  /* box-shadow: 5px 2px 28px; */
}

.loginform > input {
  margin: .1rem;
}

.loginmsg {
  position: absolute;
  top: 65%;
  left: 5%;
  font-size: .8rem;
}

.loginbtn, .logoutbtn {
  position: absolute;
  right: 5%;
  top: 80%;
}

.selectedPark {
  padding: 2%;
  height: 100%;
}

.selectedPark > h2 {
  text-align: center;
  margin: 0;
}

.selectedPark > p {
  text-indent: 30px;
}

.selectedParkImage {
  background: white;
  float: left;
  width: 45%;
  margin-right: 2%;
  margin-bottom: 1%;
  margin-top: 3%;
}

.selectedParkImage > img {
 width: 100%;
}

.selectedParkImage > figcaption {
  text-align: center;
  font-size: .5rem;
}

